body {
    color: white;
    background: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
nav {
    background: darkred;
    padding: 10px;
    font-family: 'Saira Semi Condensed', sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    padding: 10px;
}
li a {
    text-decoration: none;
    color: white;
}
li a:hover {
    color: white;
}
h1 {
    color: darkred;
}
img {
    width: 100%;
    height: auto;
}
table {
    width: 100%;
}
.movies {
    padding: 10px;
}
.movie {
    padding: 5px;
}
.banner {
    background: red;
    padding: 10px;
    margin-top: 10px;
}